html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  min-height: 100%;
  background-color: hsla(251, 38%, 6%, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background-color: hsla(251, 38%, 6%, 1);
  }
  body {
    color-scheme: dark;
    background-color: hsla(251, 38%, 6%, 1);
  }
}
